@(form: Form[FormData])
@import helper._
@import helper.twitterBootstrap._
@import play.api.Play

@main("Best URL site!") {
<div class="container">
<div class="row">
@helper.form(action = routes.Application.submit) {
<div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
	<p id="welcome"> GET THE SHORTEST URL!</p>
      <input name="ref" id="inpurl" type="text" class="form-control inp" placeholder="Paste your URL here" >
</div><!-- /.col-lg-6 -->

<div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
<p id="msg"> You also can choose your favourite link </p>
    <div class="input-group">    
			<span class="input-group-addon inp">@Play.current.configuration.getString("hostname") </span>
      <input name="id" type="text" class="form-control inp" placeholder="Enter ID (optinal)" >
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit button">Get URL</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  
  <div class="hidden col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
  <p id="msg" > Are you human ? Let us know :) 
  <img src="http://kaptcha.googlecode.com/svn/wiki/images/kaptcha-example.jpg" />
      <div class="input-group">
      <input id="inp" type="text" class="form-control" placeholder="Type what you see" >
      <span class="input-group-btn">
        <button class="btn btn-success" type="button">GO</button>
      </span>
    </div><!-- /input-group -->
</div>
<div class="hidden col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
<p id="msg"> Your new URL: </p>
    <div class="input-group">    
  <span id="out" class="input-group-addon form-control" onclick="this.focus();this.select()" >http://url.dablet.com/IDM1s2 </span>

      <span class="input-group-btn">
        <button onClick="copyToClipboard('http://url.dablet.com/IDM1s2');" class="btn btn-success" type="button">Select all</button>
      </span>
    </div><!-- /input-group -->
  </div>


</div>
<!-- /container -->
}
}
