@(url: String)
@import helper._
@import helper.twitterBootstrap._
@import play.api.Play

@main("Best URL site!") {
<div class="container">
<div class="row">
<div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
<p id="msg"> Your new URL: </p>
    <div class="input-group">    
  <span id="out" class="input-group-addon form-control" >@{Play.current.configuration.getString("hostname").getOrElse("") + url}</span>

      <span class="input-group-btn">
				<button onClick="copyToClipboard('@{Play.current.configuration.getString("hostname").getOrElse("") + url}');" class="btn btn-success" type="button">Select all</button>
      </span>
    </div><!-- /input-group -->
  </div>


</div>
<!-- /container -->
}
